[2018-12-27 17:52] gr2m opened #4 "Match routes that trigger notification using a regex"
With the implementation at #2, the following request would match

[code]

But if someone replaces the URL parameters before sending a request, it wouldn’t:

[code]

This should be an exception so I don’t think it’s a big problem right now, but it would be better if we would match both requests in future

[2018-12-28 17:44] SGrondin opened #7 "Log warning when event handlers are not set"

[2018-12-29 21:58] SGrondin commented on #7
Released in v2.0

[2018-12-29 21:58] #7 closed

[2019-01-06 19:37] SGrondin commented on #4
@gr2m  Is `feat(#4):` the right prefix for this?

[2019-01-06 19:38] gr2m commented on #4
I would just use `feat: `, but that works too :)

[2019-01-06 22:21] gr2m commented on #4
closed via #11

[2019-01-06 22:21] #4 closed

[2019-01-12 18:51] greenkeeper[bot] opened #14 "An in-range update of bottleneck is breaking the build 🚨"
## The dependency [bottleneck](https://github.com/SGrondin/bottleneck) was updated from `2.15.0` to `2.15.1`.

🚨 [View failing branch](https://github.com/octokit/plugin-throttling.js/compare/master...octokit:greenkeeper%2Fbottleneck-2.15.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

bottleneck is a direct dependency

[2019-01-12 18:58] SGrondin commented on #14
I confirmed this was a false alert, the tests pass on Travis and locally. I'll investigate further if they fail on Travis again the next time.

[2019-01-12 18:58] #14 closed

[2019-01-20 20:12] gr2m opened #21 "Cache the Bottleneck instances outside of the plugin"
### Use case

[Probot](https://github.com/probot/probot) is creating separate instances for each webhook event it receives from GitHub. In order for the throttling to be persist, we started caching the entire Octokit instances (https://github.com/probot/probot/commit/2532d617e3c96a7ae51adec22af73d9f3d839d01).

That works okay but increases the memory usage of Probot apps unnecessarily. It would be

[2019-01-28 15:59] gr2m opened #23 "Error: This job timed out after 60000 ms."
I found two of these errors in WIP, in quick succession, on the same node (WIP is running on 2-4)

[code]

Any idea what it could mean?

[2019-01-28 16:03] gr2m commented on #23
Looks like it’s caused by a memory leak, which causes the event handler process duration to grow exponentially right before server gets restarted:

Top: memory usage in bytes
Bottom: duration in ms

![image](https://user-images.githubusercontent.com/39992/51848839-3b4f3000-22d3-11e9-86f5-7e6d4e302889.png)

[2019-01-28 16:39] SGrondin commented on #23
It's not caused by a memory leak, it's because a job took longer than 1 minute to run. 1 minute is what I've set the job TTL to, we can make it longer if we want. We need a TTL because servers can crash/restart/etc and those orphaned jobs (GH requests) would be taking up throttling resources forever.

The Clustering memory usage is a different issue and should be similar to the usage without Clust

[2019-01-28 16:52] gr2m commented on #23
What I meant to say is that the duration of handling requests peaks right before the server crashes and restarts, that was the case even before introducing the new throttling. So I don’t think that the timeout is a problem, I expect that once we fix the memory issue, this problem will go away

[2019-02-01 18:49] #23 closed

[2019-02-05 19:58] greenkeeper[bot] opened #24 "An in-range update of bottleneck is breaking the build 🚨"
## The dependency [bottleneck](https://github.com/SGrondin/bottleneck) was updated from `2.16.0` to `2.16.1`.

🚨 [View failing branch](https://github.com/octokit/plugin-throttling.js/compare/master...octokit:greenkeeper%2Fbottleneck-2.16.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

bottleneck is a direct dependency

[2019-02-10 06:24] Restuta opened #26 "Add support for Graphql API"
We faced interesting issue with this plugin. We added GraphQL as docs point out here https://github.com/octokit/request.js/#graphql-example hoping that we can benefit from this plugin automatically, but it didn't happen. When we hit API limits corresponding hooks such as `onRateLimit` / `onAbuseLimit` didn't fire.

I investigated why and it turns out that GraphQL always returns HTTP 200. Which doe

[2019-02-10 18:20] SGrondin commented on #21
This is done 🎉

[2019-02-10 18:20] #21 closed

[2019-02-10 18:33] SGrondin commented on #26
HTTP codes are the way to go for non-Graphql requests, but we need to also handle the way the Graphql API indicates throttling.

There's 2 types of "throttling":
1. Ensuring a certain maximum rate of requests/s
2. Ensuring a max number of requests per interval

They look like one and the same, but there are subtle differences. We automatically handle 1. in this plugin by enforcing a certain rate o

[2019-02-14 01:58] #24 closed

[2019-03-24 16:26] gr2m opened #44 "Allow HEAD/GET requests to be sent in parallel"
I think it’s safe to allow for parallel non-mutating requests, there is no note on it on https://developer.github.com/v3/guides/best-practices-for-integrators/. My understanding is that HEAD/GET requests are handled by horizontally scaled replica of GitHub’s main databases, so handling them is much more efficient. But I’ll check in to make sure that is the case.

I wonder if the change would be as

[2019-03-24 16:31] gr2m commented on #44
Search might be a special case for GET requests, unauthenticated requests are limited to 10 per minute, 30 when authenticated https://developer.github.com/v3/search/#rate-limit.

[2019-03-25 03:02] SGrondin commented on #44
The global group is applied to all requests, so changes there will apply to all requests. I think we'll need to increase the global group maxConcurrent value and set the write group maxConcurrent to 1, and finally to create a search group for search specific throttling.

[2019-03-30 20:02] greenkeeper[bot] opened #50 "An in-range update of @octokit/rest is breaking the build 🚨"
## The devDependency [@octokit/rest](https://github.com/octokit/rest.js) was updated from `16.21.1` to `16.22.0`.

🚨 [View failing branch](https://github.com/octokit/plugin-throttling.js/compare/master...octokit:greenkeeper%2F%40octokit%2Frest-16.22.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@octokit/rest is a dev

[2019-03-31 15:37] #50 closed

[2019-03-31 15:49] gr2m opened #51 "Racing condition in tests"
When I run the tests several times, the "Should optimize throughput rather than maintain ordering:" fails sometimes. There seems to be a racing condition.

![image](https://user-images.githubusercontent.com/39992/55291292-d9be4700-5391-11e9-90a5-fc56a12c0395.png)

@SGrondin could you maybe have a look?

[2019-04-02 03:56] SGrondin commented on #51
I'll look into it

[2019-04-02 04:41] greenkeeper[bot] opened #52 "An in-range update of @octokit/rest is breaking the build 🚨"
## The devDependency [@octokit/rest](https://github.com/octokit/rest.js) was updated from `16.22.0` to `16.23.0`.

🚨 [View failing branch](https://github.com/octokit/plugin-throttling.js/compare/master...octokit:greenkeeper%2F%40octokit%2Frest-16.23.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@octokit/rest is a dev

[2019-04-02 16:34] #52 closed

[2019-04-07 23:28] greenkeeper[bot] opened #54 "An in-range update of mocha is breaking the build 🚨"
## The devDependency [mocha](https://github.com/mochajs/mocha) was updated from `6.1.0` to `6.1.1`.

🚨 [View failing branch](https://github.com/octokit/plugin-throttling.js/compare/master...octokit:greenkeeper%2Fmocha-6.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mocha is a devDependency of this project. It **mig

[2019-04-08 22:38] #54 closed

[2019-04-19 01:34] greenkeeper[bot] opened #64 "An in-range update of @octokit/rest is breaking the build 🚨"
## The devDependency [@octokit/rest](https://github.com/octokit/rest.js) was updated from `16.24.3` to `16.25.0`.

🚨 [View failing branch](https://github.com/octokit/plugin-throttling.js/compare/master...octokit:greenkeeper%2F%40octokit%2Frest-16.25.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@octokit/rest is a dev

[2019-04-30 22:13] #64 closed

[2019-05-04 03:21] greenkeeper[bot] opened #68 "An in-range update of @octokit/rest is breaking the build 🚨"
## The devDependency [@octokit/rest](https://github.com/octokit/rest.js) was updated from `16.25.1` to `16.25.2`.

🚨 [View failing branch](https://github.com/octokit/plugin-throttling.js/compare/master...octokit:greenkeeper%2F%40octokit%2Frest-16.25.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@octokit/rest is a dev

[2019-05-08 01:21] #68 closed

[2019-05-09 17:24] #51 closed

[2019-05-09 17:25] #44 closed

[2019-05-13 15:23] gr2m opened #76 "Document all `new Octokit({ throttle })` options"
Add a section to the README for usage with GitHub Enterprise, too, as rate limit options are configurable in GHE

[2019-05-17 03:19] #26 closed

[2019-05-25 09:30] bendtherules opened #84 "Add browser build"
There is no webpack config or build (or something similar) to make sure that it can be imported as npm module for a browser based project.

Even with adding it to webpack build in the consumer project, things like direct json imports makes it very hard to use without adding more plugins in consumer webpack config itself.

[2019-05-25 13:56] gr2m commented on #84
Would changing `/lib/triggers-notification-paths.json` to a `.js` file resolve your issue? If you’d like to send a pull request, note that the file is generated by `/scripts/generate-routes.js`, the path and output needs to be updated there.

We are going through the `octokit/*` JavaScript modules and migrating to @pikapkg:
https://gist.github.com/gr2m/5dd2ec6e3a04c3dc79f0cbb46decbe46. It has a br

[2019-05-25 15:17] SGrondin commented on #84
I've had a lot of success with [Rollup](https://rollupjs.org), it might be worth looking into.

Here's [Bottleneck's ES5 build config](https://github.com/SGrondin/bottleneck/blob/master/rollup.config.es5.js) and [Bottleneck's "light" build config](https://github.com/SGrondin/bottleneck/blob/master/rollup.config.light.js). The light build is used in this octokit/plugin-throttling project. It was fa

[2019-05-25 16:15] gr2m commented on #84
Pika is using rollup internally

[2019-05-25 19:03] bendtherules commented on #84
Hi, i was trying to manually change those in a project using webpack. Json import and object spread syntax was raising error. Changing both in a browser branch can be a temporary fix.

That sounds good as a permanent solution.
I would like to give it a try. I'll try to read pika docs and see how its done.
Can you point to some example octokit repo if it is already using pika? Or anything specific

[2019-05-26 17:59] gr2m commented on #84
We’ve already setup Pika for

- https://github.com/octokit/endpoint.js
- https://github.com/octokit/request.js
- https://github.com/octokit/app.js

Note that they all use Typescript, too. No need to do it for `@octokit/plugin-throttling.js`, so the setup will be slightly different as the Typescript transpilation step is not required. That said, if you are familiar with Typescript, feel free to do

[2019-05-29 22:28] greenkeeper[bot] opened #87 "An in-range update of @octokit/rest is breaking the build 🚨"
## The devDependency [@octokit/rest](https://github.com/octokit/rest.js) was updated from `16.27.0` to `16.27.1`.

🚨 [View failing branch](https://github.com/octokit/plugin-throttling.js/compare/master...octokit:greenkeeper%2F%40octokit%2Frest-16.27.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@octokit/rest is a dev

[2019-05-30 00:32] gr2m commented on #87
Greenkeeper did not add lock files

[2019-05-30 00:32] #87 closed

[2019-05-31 13:10] bendtherules commented on #84
Finally, started making a few changes in https://github.com/bendtherules/plugin-throttling.js/tree/add-pika. Doing the pika build thing for now, will try to add typescript later.

To keep us on same page, these are the changes:
1. Add pika with node and browser build. These are plain builds, not bundles.
2. Handle json import with babel json inline plugin.

[2019-05-31 15:16] gr2m commented on #84
For the web build, you can add the bundle step as well as the plugin to add the field for https://unpkg.com/, so the lib can directly be loaded from there

https://github.com/octokit/endpoint.js/blob/f44b59151d601dc6c5fc600880c73fd5e20ade3c/package.json#L102-L110

Replace the JSON file with a JS file. Adapt `/scripts/generate-routes.js` accordingly. I think that’s the simplest way to resolve that.

[2019-05-31 16:39] bendtherules commented on #84
I am not sure how that will work without adding octokit/routes as a runtime dependency. We would need some sort of a build pipeline to run the file during build and export the freezed output. How will that work?

Pika doesn't seem to have a easy way to add custom logic to the pipeline (like webpack) without creating separate plugins.

[2019-05-31 16:40] bendtherules commented on #84
Sure, I will add the bundle step and unpkg.

[2019-05-31 17:14] gr2m commented on #84
That’s what we have already. `@octokit/routes` is a devDependency

https://github.com/octokit/plugin-throttling.js/blob/dc81d0c435c84bad436c679dc09d08d0df0bb9dd/package.json#L41-L44

Each time `@octokit/routes` gets updated, [Greenkeeper](https://greenkeeper.io/) sends a pull request. In that pull request we update the `lib/triggers-notification-paths.json` file

https://github.com/octokit/plugin-

[2019-06-01 20:25] greenkeeper[bot] opened #90 "An in-range update of bottleneck is breaking the build 🚨"
## The dependency [bottleneck](https://github.com/SGrondin/bottleneck) was updated from `2.18.1` to `2.19.0`.

🚨 [View failing branch](https://github.com/octokit/plugin-throttling.js/compare/master...octokit:greenkeeper%2Fbottleneck-2.19.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

bottleneck is a direct dependency

[2019-06-02 05:30] SGrondin commented on #90
I'll take a look

[2019-06-02 16:13] gr2m commented on #90
Greenkeeper seemed to have a hiccup where it updated package.json, but not the lock file. Thanks for having a look!

[2019-06-02 16:13] #90 closed

[2019-06-14 13:08] richtera opened #97 "When using the light bottleneck without a connection there are always exceptions thrown"
Although the exceptions themselves don't cause problems, they are very annoying when trying to debug and catch other exceptions. The this._store.heartbeat is not checked against null.
I think it would be better to do
[code]
or similar.

![image](https://user-images.githubusercontent.com/708186/59511292-e4ae5100-8e83-11e9-83b2-2355b3df4315.png)

[2019-06-14 13:10] richtera commented on #97
Oh wrong repo.... moving.

[2019-06-14 13:16] #97 closed

[2019-07-06 19:46] greenkeeper[bot] opened #100 "An in-range update of bottleneck is breaking the build 🚨"
## The dependency [bottleneck](https://github.com/SGrondin/bottleneck) was updated from `2.19.1` to `2.19.2`.

🚨 [View failing branch](https://github.com/octokit/plugin-throttling.js/compare/master...octokit:greenkeeper%2Fbottleneck-2.19.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

bottleneck is a direct dependency

[2019-07-12 02:51] greenkeeper[bot] opened #102 "An in-range update of coveralls is breaking the build 🚨"
## The devDependency [coveralls](https://github.com/nickmerwin/node-coveralls) was updated from `3.0.4` to `3.0.5`.

🚨 [View failing branch](https://github.com/octokit/plugin-throttling.js/compare/master...octokit:greenkeeper%2Fcoveralls-3.0.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

coveralls is a devDependency o

[2019-07-12 19:22] #102 closed

[2019-07-16 21:31] #100 closed

[2019-07-21 06:52] greenkeeper[bot] opened #105 "An in-range update of standard is breaking the build 🚨"
## The devDependency [standard](https://github.com/standard/standard) was updated from `13.0.2` to `13.1.0`.

🚨 [View failing branch](https://github.com/octokit/plugin-throttling.js/compare/master...octokit:greenkeeper%2Fstandard-13.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

standard is a devDependency of this p

[2019-07-21 14:33] SGrondin opened #106 "Rewrite the unstable test"

[2019-07-22 02:02] gr2m commented on #105
See #106

[2019-07-22 02:02] #105 closed

[2019-08-12 11:21] ibakshay opened #108 "Error Message: Abuse deducted when accessing Github APIs"
Hi,
We are using this plugin `plugin-throttling` so that our application won't make concurrent GitHub API calls in our Oauth application https://github.com/cla-assistant/cla-assistant. I believe this plugin will slow down the concurrency of the GitHub API Calls so that the rate limit Quota is not exhausted.
However, even after adding this plugin in our Oauth Application, when making expensive requ

[2019-08-12 18:20] gr2m commented on #108
There is a difference between rate limiting and abuse limiting. The throttle plugin helps well with rate limiting because the rules are clear and predictable. The rules for abuse limits are not, the can change at any time and have a lot of different factors.

You can contact github support if it's unclear why you hit the abuse limits, it might be a bug on their side, too. And if not, they might gi

[2019-08-13 13:27] SGrondin commented on #108
@gr2m what if he was using octokit in multiple nodejs instances without using this plugin's Clustering support? Could that trigger an abuse error? I know it should be a rate limiting error but what if it was **really excessive**?

[2019-08-14 07:44] ibakshay commented on #108
@gr2m Thank you for your detailed response. I have already contacted GitHub support and they told me that we are hitting **secondary limit** but not the **primary limit**  which is 5000 requests/ hour. GitHub Support also told us that our application is having concurrency as high as `50 requests per second` sometimes and we thought that the `plugin-throttling` will reduce the concurrency when maki

[2019-08-14 08:46] ibakshay commented on #108
@SGrondin Our Application is running on three instances and is deployed on cloud foundry.

[2019-08-14 11:40] plurch opened #109 "Doesn't seem to work with search requests"
Hello,

I am using this plugin along with the following dependencies:

[code]

I tested timing between requests using the example in the [rest.js docs](https://octokit.github.io/rest.js/#pagination):

`for await (const response of octokit.paginate.iterator(options)) { ... `

However, it looks like my `search` requests are happening about 600ms - 800ms apart instead of the expected 2000ms.

I set a

[2019-08-14 12:43] SGrondin commented on #109
Excellent debugging, I think you've exactly identified what the problem is. I'll take a look and release a fix soon, probably this weekend.

[2019-08-14 13:27] plurch commented on #109
@SGrondin Great, thanks!

[2019-08-14 16:30] gr2m commented on #108
It handles secondary limits (abuse limits) as well, as good as it can, by waiting and retrying once.

What are the requests that hit the abuse limit? Are they search requests by chance? There is an open issue #109, search requests are currently not throttled correctly.

As you have multiple instances, you should use the clustering solution as described in the README

[2019-08-14 19:45] ibakshay commented on #108
oh okay great. The requests that hit the abuse limit are `GET` requests.
These are the numbers given by the Github Support. Number of request in one minute period.

/repositories/:repository_id/statuses/* 16  2.92%

And even today I can see this error in the logs `Abuse detected for request GET /repos/:owner/:repo/pulls/:pull_number` whenever we are making expensive requests.

Okay, I will impleme

[2019-08-18 15:51] SGrondin commented on #109
@plurch which version of Node are you using? If you're running this in the browser, which build system did you use (e.g. Webpack, etc)?

I'm unable to reproduce `options.url` being a full url.

And since the `url` module now has 2 very different versions (one compatible with the new browser `URL` object, and one that's not), I want to make sure I understand all the tradeoffs before we add any pack

[2019-08-18 18:08] plurch commented on #109
@SGrondin , this is how I am using it:

[code]

[code]

Maybe using `auth.clientId` and `auth.clientSecret` somehow causes it to use the full URL? Or it could be `endpoint.merge()` ?

Let me know if I can provide any other information.

[2019-08-18 20:00] gr2m commented on #109
sorry I’m out today and tomorrow, but the url option can be a full URL, e.g. when doing octokit.request(‘https://api.github.com/foo/bar’)

I think what commonly creates full urls is pagination, as we pass the url from the link headers directly

[2019-08-18 22:53] SGrondin commented on #109
Ah yeah, that's it @gr2m . Thanks to both of you for the info. @gr2m please let me know how you want to proceed with url parsing.

[2019-08-18 23:00] gr2m commented on #109
Ideally native URL object in browser, then polyfill in Node. Minimal bundle size for browsers is a priority

[2019-09-01 13:19] leafac opened #113 "Add support for TypeScript"
[Probot](https://github.com/probot/probot/tree/master/src/%40types/%40octokit/plugin-throttling) already includes the definitions. We could just include them here and publish them with the package.

[2019-09-02 16:06] gr2m commented on #113
Yeah why not :) Would you like to send a pull request?

[2019-09-03 18:29] greenkeeper[bot] opened #114 "An in-range update of @octokit/rest is breaking the build 🚨"
## The devDependency [@octokit/rest](https://github.com/octokit/rest.js) was updated from `16.28.8` to `16.28.9`.

🚨 [View failing branch](https://github.com/octokit/plugin-throttling.js/compare/master...octokit:greenkeeper%2F%40octokit%2Frest-16.28.9).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@octokit/rest is a dev

[2019-09-03 19:04] gr2m commented on #114
https://github.com/greenkeeperio/greenkeeper/issues/1125#issuecomment-527595031

[2019-09-03 19:04] #114 closed

[2020-01-15 20:11] sbender9 opened #124 "Failing with "API rate limit exceeded""
I'm calling `octokit.search.issuesAndPullRequests` many times.

When it retries it fails completely:

[code]

[2020-01-15 20:56] gr2m commented on #124
Search requests have a very low rate limit, try to limit your calls to it.

If you think it's a problem with this plugin, can you provide a minimal code snippet to reproduce the problem you are seeing?

[2020-01-16 05:05] #113 closed

[2020-01-21 17:17] sustained opened #127 "[TS] Cannot find module @octokit/core."
[code]

I'm using [module-alias](https://www.npmjs.com/package/module-alias), [ESM](https://www.npmjs.com/package/esm) and lately also TypeScript and it hasn't really caused issues with anything else as of yet.

Here's my `GithubClient.ts`:

[code]

Any ideas? I can provide more info. if necessary.

Also, as you can see, I was forced to do this -

[code]

And to import Octokit in a strange was `*

[2020-01-21 17:33] gr2m commented on #127
Which version of `@octokit/plugin-throttling` do you have installed? You can check with `npm ls @octokit/plugin-throttling`. Note that we recently released a new breaking version that you need to import like this:

[code]

You might need to install `@octokit/core` as a development dependency, this is only temporary until `@octokit/rest` v17 is released: https://github.com/octokit/rest.js/issues/15

[2020-01-22 20:08] sustained commented on #127
Yeah, it was just that I needed to install it myself (was just unexpected) - thank you!

[2020-02-11 05:55] gr2m commented on #84
This issue should be resolved now. You can even directly import the plugin from Pika's CDN, see https://github.com/octokit/plugin-throttling.js/#usage

[2020-02-11 05:55] #84 closed

[2020-02-11 05:57] gr2m commented on #127
Hey unrelated question, what is the `@libraries/constants` doing in your code? I'm curious

[2020-05-05 00:15] gr2m commented on #108
@ibakshay it's been a while, I wonder if there is something actionable left for us to help you with, or if the issue is resolved?

[2020-05-05 04:58] gr2m commented on #106
@SGrondin Hey Simon, would you still like to finish this up?

[2020-05-05 06:56] gr2m commented on #106
oops sorry, closed by accident

[2020-05-22 17:17] github-actions[bot] opened #176 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-05-28 16:53] gr2m commented on #176
failed due to recent outage

[2020-05-28 16:53] #176 closed

[2020-06-25 19:59] Chocrates opened #218 "UnhandledPromiseRejectionWarning: HttpError: API rate limit exceeded for user"
👋  Hey All,

This may be more of a misunderstanding on my part than a bug.
It is related to #124 but different enough I didn't want to hijack.

I am using the octokit and the throttling plugin to write a report that will run monthly or quarterly.
For these purposes I don't mind how long we wait for the API limits to reset (I would expect maybe a few days for the full thing to run) I just want it t

[2020-06-26 03:26] gr2m commented on #218
Hey @Chocrates, your assumptions map mine, I'll need some time to look into what is going on here. I'm afraid I won't have time before the week of July 6th. Let me know if that's a problem, I'll try to find some time for you before

[2020-06-26 04:44] gr2m opened #219 "Pass `octokit` as third argument to `onAbuseLimit`/`onRateLimit`"
This is useful when wanting to log in the callbacks, but setting the throttling option as defaults, e.g.

[code]

[2020-06-26 13:27] Chocrates commented on #218
Thanks @gr2m!

[2020-06-27 18:31] Chocrates commented on #218
I dug in to this a bit more and it appears that we are getting a `403` with a positive rate-limit remaining strangely:

[code]

I opened PR #222 to handle it, though no idea if that is general enough for this plugin.

[2020-06-30 22:16] gr2m commented on #218
looks like it's an API bug: https://github.com/octokit/plugin-throttling.js/pull/222#issuecomment-651256319

[2020-06-30 22:16] #218 closed

[2020-07-13 16:34] Chocrates opened #229 "[GraphQL] 401 response not handled correctly in case of `POST /graphql` requests"
👋 Hi All,

Based on this code https://github.com/octokit/plugin-throttling.js/blob/5f65acb2bc9171777e195fc07448d373fcbb49f7/src/index.ts#L114 it looks like throttling is disabled for GraphQL queries.
This has the side effect of eating errors that the graphql endpoints would throw.
What would it take to enable throttling for graphql endpoints as well as rest?

[2020-07-13 16:45] gr2m commented on #229
For context: GraphQL throttling has been introduced via https://github.com/octokit/plugin-throttling.js/pull/75 /cc @SGrondin

[2020-07-13 21:37] gr2m commented on #229
@Chocrates could you share a test case to reproduce the problem with the swallowed errors?

I'm pretty sure that GraphQL throttling is implemented, did you run into problem with that?

[2020-07-13 22:01] Chocrates commented on #229
Nope I am going insane.  I am not seeing the same thing I saw this morning.
If I run this code (notice the missing token), the rate limit handler fires:

[code]

I think I remember this morning the `http 401` wasn't getting reported, but the failed handler is catching it.

[2020-07-13 22:17] Chocrates commented on #229
Ok so I think the "problem" is that the `/graphql` endpoint can throw an `HTTP 401` on invalid credentials and the if statement won't return and will instead handle the request like an `403`.

[2020-07-13 22:39] gr2m commented on #229
I think I got it now. I created a minimal reproducible test case on RunKit:
https://runkit.com/gr2m/octokit-plugin-throttling-js-229/1.0.0

It logs

Which doesn't make any sense. We don't handle the `401` response correctly in case of graphql requests

[2020-07-13 22:43] gr2m commented on #229
I don't have bandwith right now to work on this myself. Maybe @SGrondin finds time.

I'd be happy to review a pull request from you or anyone who'd like to give it a try though

[2020-07-30 17:41] hipstersmoothie commented on #219
I think you've addressed this issue

[2020-07-30 20:23] gr2m commented on #219
indeed, thank you, it was resolved via https://github.com/octokit/plugin-throttling.js/pull/220

[2020-07-30 20:23] #219 closed

[2020-08-26 23:23] gr2m opened #273 "Add @octokit/core as peerDependency"
This is a follow up issue to https://github.com/octokit/plugin-paginate-rest.js/issues/124#issuecomment-681019208

We need to add `@octokit/core` as a peerDependency to address a problem with yarn 2. It is something I planned to do anyway, but wanted to figure out automated testing to assure compatibility of the plugins with the latest `@octokit/core`.

I only want to define compatibility with the

[2020-09-10 18:01] gr2m commented on #106
@SGrondin what are the unstable tests? Maybe someone else would like to look into it?

[2020-09-10 18:02] gr2m commented on #108
closing due to inactivity, please reopen if if the problem persists

[2020-09-10 18:02] #108 closed

[2020-09-20 18:36] copperwall commented on #229
I'm down to give this a try!

[2020-09-27 16:43] #229 closed

[2020-10-15 20:52] first-timers[bot] opened #307 "Replace "cdn.pika.dev" with "cdn.skypack.dev" in README"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

The Pika CDN is now Skypack, see https://www.pika.dev/cdn. The CDN at https

[2020-10-18 23:36] MichaelYogar commented on #307
Hello, I'm new to the open source community. Can I claim this?

[2020-10-18 23:39] MichaelYogar commented on #273
Hi, I'm new to the open source community. I haven't made a contribution yet. I can try to do this if you can let me!

[2020-10-19 00:02] luis-hsantos commented on #307
Hello, I'm a newcomer to programming. Can I claim it?

[2020-10-19 01:40] wolfy1339 commented on #307
I have assigned you to the issue.

[2020-10-19 15:31] gr2m commented on #273
@MichaelYogar Welcome to Octokit & Open Source :)

[2020-10-19 15:33] #273 closed

[2020-11-01 18:01] #307 closed

[2020-11-11 07:11] #127 closed

[2021-01-22 01:45] renovate[bot] opened #368 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to ignore the schedule.
 - [ ] fix(deps): lock file maintenance

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-03-02 00:10] #368 closed

[2021-04-22 18:14] gr2m commented on #109
@SGrondin @plurch is this problem resolved?

[2021-04-22 18:14] #124 closed

[2021-04-25 12:18] allanlw commented on #109
I ran into this today when using https://github.com/octokit/plugin-paginate-rest.js/ in combination with searches and the current version of both and octokit.

[2021-04-25 17:09] gr2m commented on #109
@allanlw could you share a minimal code example please?

[2021-04-26 06:45] allanlw commented on #109
@gr2m here's a minimal example in typescript:
[code]

package.json:
[code]

[2021-05-29 21:52] renovate[bot] opened #406 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `package.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Invalid configuration option: @pika/pack, Invalid configuration option: author, Invalid configuration option: jest, Invalid configuration o

[2021-05-30 03:32] #406 closed

[2021-06-01 01:16] moltar opened #408 "GitHubâs?"
https://github.com/octokit/plugin-throttling.js/blob/d62f291dd26aa61d9c0e7ac84bcf58cd5b80c8fc/package.json#L7

[2021-06-01 15:59] gr2m commented on #408
encoding fail, that was probably an apostrophe. Would you like to send a PR to fix it?

[2021-06-02 04:08] #408 closed

[2021-06-26 05:11] #109 closed

[2021-09-06 13:35] dontcallmedom opened #437 "Abuse rate limitation needs an update"
The current code to detect hitting of the abuse rate limit reads:
[code]

As far as I can tell, nowadays, the error message from github reads:
`You have exceeded a secondary rate limit. Please wait a few minutes before you try again.`

So the test should be updated accordingly.

[2021-09-06 15:20] gr2m commented on #437
Woah, good catch! Thank you for reporting it and for sending a pull request!

[2021-09-06 16:10] #437 closed

[2021-09-08 17:47] gr2m opened #439 "Replace "abuse" language with "secondary""
GitHub recently renamed "abuse limits" to "secondary rate limits":
https://docs.github.com/en/rest/overview/resources-in-the-rest-api#secondary-rate-limits

We should make sure to update our wording across all @octokit repositories accordingly

[2021-09-08 18:20] oscard0m commented on #439
Any kind of files (variable names?) or text files like `Markdown`, `JSON`, `HTML`?

Would the results of this search accurate enough?
https://github.com/search?q=org%3Aoctokit+abuse&type=code

[2021-09-08 20:34] gr2m commented on #439
Yes

Looks like a good start 👍🏼
Do you want to look into it yourself?

[2021-09-08 21:47] oscard0m commented on #439
So text files or code too?

Sure!

[2021-09-08 21:54] gr2m commented on #439
everything

Awesome, thank you!

[2021-09-09 12:32] 7upaesirik commented on #439
hows it going just heard bout this github learnin

[2021-09-13 13:23] kaofelix commented on #439
We had an internal tool using the API that started triggering secondary rate limits recently without any code change in our part. We were using v3.4.0 of the plugin and finally we figured we had to update it to v3.5.2 to get the fix in #437. This caused the plugin not to be triggered anymore until we also updated @octokit/rest from v18.2.0 to v18.10.0. Just in case anyone else is fighting a simila

[2021-09-13 15:18] yoanmLf opened #442 "`retryCount` randomly has a wrong value"
**TLDR;**
In case a request hit the rate limit, plugin does its job 👌 .
But if a second request also hit the rate limit (either for token 2 or because that request also uses token 1) while other one is waiting, my `rate-limiter` listener receives a `options.request.retryCount` at `1` instead of `0`
So request is not retried, the HTTP error is thrown, and the whole process stop.

------

Hello,

I

[2021-09-13 15:42] yoanmLf commented on #442
In case it helps, see below patch for the two node_module lib files:
_`tmp/node_modules/xxx` is used to replace the corresponding file when docker image is created_

`@octokit/plugin-throttling/dist-node/index.js`
[code]

`node_modules/bottleneck/light.js`
[code]

[2021-09-13 15:59] gr2m commented on #442
Short answer, yes :)

Do the tokens belong to the same user account / app? If so, then you have to pass a single bottleneck instance to all of them, that way the throttling will work across the instances.

There might be a bug with `retryCount`, but it's hard to say with your code, we would need to isolate the problem further.

[2021-09-14 08:34] yoanmLf commented on #442
Thanks for the quick answer :)

Nop, tokens belong to two different users (it was also my guess at beginning, but I double checked and it's not the case).

I guess yes, but I spend 3 days on that issue without being able to figure out the root cause.
I know where the plugin increase that value
https://github.com/octokit/plugin-throttling.js/blob/c9c3bf68c663889e36389d170746db6dfe86cbb8/src/index.t

[2021-09-14 09:30] yoanmLf commented on #442
How to reproduce the issue :
 - `index.js`
[code]

 - `package.json`:
[code]

Then
 - `npm install`
 - `node index.js`

Issue seems to be totally random, you have to execute `node index.js` many times, sometimes it works without issue, and sometimes it fails.

Working example output :
[code]

Failing example output:
[code]

[2021-09-14 16:54] gr2m commented on #442
Thanks a lot for the thorough research!

I'm fully occupied with https://github.com/octokit/octokit-next.js right now and for the foreseeable time, but I'll get back to it eventually. I don't have an idea what the problem might be out of head unfortunately.

Maybe @SGrondin who created Bottleneck and the initial version of this plugin might have ideas how to further debug the problem, but Simon mo

[2021-09-15 07:43] yoanmLf commented on #442
No problem 👍
For the moment, we keep the plugin active knowing that it may not work in some cases. At least it delays requests which is a good thing anyway (in worst case, behavior will be the same than without the plugin, so let takes advantage of the other functionalities 😀 ).

BTW, thanks for your work 👌

[2021-09-21 00:12] zephraph opened #446 "Distributed types seem to be incomplete"
I was configuring the throttle plugin essentially as it's written in the example in the readme and noticed `onRateLimit` and `onAbuseLimit` neither are inheriting the correct types. Opening up throttle's `index.d.ts` this is what I see:

[code]

I cloned the project and built from source just to verify the output. I'm seeing the same thing in `pkg/dist-types/index.d.ts` on build. I did look throug

[2021-09-22 00:08] gr2m commented on #446
Setting option types from plugins is something that will get much better with the upcoming Octokit that we currently work on at https://github.com/octokit/octokit-next.js. Plugins will be able to extend the interface for the `Octokit` constructor options as seen here for example: https://github.com/octokit/octokit-next.js/blob/da2a4fbb681a18338214e7682c400946f54bb6fa/tests/js/plugins-and-defaults/

[2021-09-22 01:09] zephraph commented on #446
Yep, sounds fine to me.

[2021-09-22 01:34] #446 closed

[2021-11-23 20:18] weilinzung opened #453 "Doc question"
Hi,

Can somebody clarify this?

From the example, if I include both id and Bottleneck, then Redis is not supported? Thanks!
[code]

[2021-12-02 11:43] kaofelix opened #454 "Secondary Rate Limits For Code Search Always Retrying with Minimum of 5 Seconds"
Hi folks,

I maintain a system that uses the code search API from Github and lately we started to get secondary rate limited very often. When looking at my logs, I see many retries after the default of 5 seconds which results in more rate limiting. From digging in the code for the plugin, I'm assuming we're probably never getting a `retry-after` header from Github, and that's why it keeps retrying

[2022-02-09 18:37] Sid-ah commented on #439
@oscard0m, did you have any luck replacing the naming?

[2022-02-12 16:15] oscard0m commented on #439
Hey @Sid-ah , thanks getting back to me. I ended up not starting the PR for fixing this. I'm going to open a draft PR and tag you.

Regarding when we could land this I'm not sure. Octokit [is unmaintained since October 2021](https://github.com/octokit/octokit.js/discussions/620#discussioncomment-1472174) (including all the automation flows to keep the ecosystem up to date with most recent GitHub O

[2022-03-02 11:29] #439 closed

[2022-04-13 05:50] stephen-dunn commented on #76
@gr2m  - any update for adding github Enterprise support?

[2022-06-25 10:31] oscard0m opened #478 "Remove Node version 10 from .github/workflows/test.yml"
# Description
Node v10 has been deprecated so there is no need to keep giving support to it in our CI.
# Context
You can find more details [here](https://github.com/orgs/octokit/teams/js-community/discussions/6)

[2022-07-07 22:19] wolfy1339 commented on #478
Fixed by #484

[2022-07-07 22:19] #478 closed

[2022-07-11 00:47] wolfy1339 opened #489 "ci: use `test_matrix` and `test` jobs"
Follow up to #482

Ideally we would do a `test_matrix` step and then a `test` step that depends on `test_matrix`, so that for branch protections we can require `test` independent of the Node versions we are using.

See this for reference: https://github.com/octokit/core.js/blob/393caf31b2e802ea9be59aa84f90d64f98953fdb/.github/workflows/test.yml#L32

[2022-07-11 21:41] wolfy1339 commented on #489
There is a `validate_types` step that requires the `test` step.

Should we still move forward with a new `test_matrix` step?

[2022-07-11 23:22] gr2m commented on #489
yes, I'd move the `npm run validate:ts` step into the `test` job

[2022-07-12 05:53] #489 closed

[2022-10-31 21:25] #442 closed

[2022-11-23 04:22] payne911 commented on #76
The documentation is very much lacking.

I changed from using `onAbuseLimit` to using `onSecondaryRateLimit` (https://github.com/useful-forks/useful-forks.github.io/commit/739eba52f9ba40d94e56218d43da75ebedcfe02d), but the doc leaves me wondering about so many things related to the return values and passed parameters of both `onRateLimit` and `onSecondaryRateLimit`...